body {
    background-image: url('/Images/bg.png');
    margin: 0px;
    padding: 0px;
    background: url('./Images/bg.png') center center/cover;
}

.blogs{
    color: aliceblue;
    font-size:50px;
    font-family: 'Blinker', sans-serif;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding-top: 100px;

    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 128px;
    
    margin-bottom: 50px;
    height: auto;
    
}

.blogs-container{
  
    /* box-shadow: inset 4px 3px 17px 1px rgba(0, 0, 0, 0.4); */
    border-color: rgb(255, 255, 255) rgba(255, 255, 255, 0) white white;
    font-size: 25px;
    font-weight: 600;
    /* line-height: 40px; */
    padding:10px;
    margin:0px;
    height: 50px;
    background-color: rgba(250, 235, 215, 0.109);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 8px;

}

.blogs-container:hover {
    /* box-shadow: inset 4px 3px 17px 1px rgba(0, 0, 0, 0.4); */
    border-color: rgb(255, 255, 255) rgba(255, 255, 255, 0) white white;
    font-size: 25px;
    font-weight: 600;
    /* line-height: 40px; */
    padding:10px;
    margin:0px;
    height: 25px;
    background-color: rgba(250, 235, 215, 0.21);

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    position: relative;
    justify-content: center;

    transition-property: height, background-color, font-size;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.blogtext
{
    margin-top: 0%;
    padding-top: 0%;
}