body {
    background-image: url('/Images/bg.png');
    margin: 0px;
    padding: 0px;
    background: url('./Images/bg.png') center center/cover;
}

.Blog-main{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding: 100px;
    margin-bottom:50px;
    font-size:5px;
    gap: 10px;
    color: aliceblue;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-family: 'Blinker', sans-serif;
    
}

.blogs-box{
  
    /* box-shadow: inset 4px 3px 17px 1px rgba(0, 0, 0, 0.4); */
    border-color: rgb(255, 255, 255) rgba(255, 255, 255, 0) white white;
    font-size: 14px;
    font-weight: 600;
    /* line-height: 40px; */
    padding:10px;
    margin:0px;
    height: 50px;
    background-color: rgba(250, 235, 215, 0.109);
    border-radius: 10px;
}

.heading {
    color: white;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: 'Chakra Petch', sans-serif;
}

@media only screen and (max-width:769px){
    .Blog-main {
        margin-bottom: 0px;
        padding: 63px;
    }
    .blogs-box {
        padding: 10px 10px;
    }
}