/* Navbar*/
.navopt>.on-page-community {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 12px;
    padding: 5px 8px;
    list-style: none;
    border: 2px solid white;
    border-radius: 36px;
    background-color: white;
}

.navopt>.on-page-community>a {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
/* Navbar End */

.mentorbackground{
    background-image: url("images/heading_advice.jpg");
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family:"Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
    color:aliceblue;
    -webkit-font-smoothing: antialiased;
    width:auto;
}

.center{
    font-family:"Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",sans-serif;
    color:aliceblue;
    -webkit-font-smoothing: antialiased;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 70px;

}

.container{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    margin: 0px;
    padding:0px;
}

.one-advice {
    display: flex;
    border: 5px double #79a2fc;
    border-radius: 40px;
    background-color: #021336;
    padding: 30px;
    align-items: center;
    margin: 30px 100px;
    width: 31rem;
}
.image-container{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:20px;
}

.advice-container{
    border-radius: 40px;
    color:aliceblue;
    padding: 20px;
    height:auto;
    width:200px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left:30px;
}
.rounded-image{
    border-radius: 40px;
    width:250px;
    height:200px;
}

.icon{
    padding-right:10px;
}
          
.footer__link:link i, .footer__link:visited i 
{
        margin-right: 0rem; 
}
    
.footer__link--facebook:hover, .footer__link--facebook:active 
{
      color: #533078; 
}
    
.footer__link--twitter:hover, .footer__link--twitter:active 
{
      color: #533078; 
}
    
.footer__link--instagram:hover, .footer__link--instagram:active 
{
      color: #533078; 
}
    
.footer__link--linkedin:hover, .footer__link--linkedin:active 
{
      color: #533078; 
}

.footer__link--webmail:hover, .footer__link--webmail:active 
{
      color: #533078; 
}
    
.footer .fa-heart 
{
        color: #e31b23; 
}

.blank{
    height:100px;
}

@media only screen and (max-width: 900px){
    .container{
        padding: 0px 0px;
    }
    .one-advice{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:50px 24px;
        width: 200px;
        margin: 30px;
    }
    .advice-container {
        border-radius: 40px;
        color: aliceblue;
        padding: 10px;
        height: auto;
        width: 180px;
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0px;
    }
    .rounded-image {
        border-radius: 40px;
        width: 201px;
        height: auto;
    }
    .image-container {
        margin:0px;
    }
    .one-advice .content{
        text-align: justify;
    }
    .mentorbackground {
        font-size: 50px;
        font-weight: 700;
    }
}