.repo-name {
    font-weight: bold;
    color: rgb(240, 240, 244);
}

.repo-desc{
    font-weight: bold;
    color: rgb(240, 240, 244);
}

.repository-list {
    margin-top: 20px;
}

.list-title {
    font-size: 18px;
    font-weight: bold;
}
